{% extends "portfolio/index.html" %}
{% block title %} skills {% endblock %}
{% block body %} 
<div class="skills">
    <p class="paragraph-skills">skills</p>
    <div class="skills-section">
        <div class="progress-bar-wrapper">
        <div class="progress-bar-title">HTML/CSS</div>
        <div class="progress progress-bar-custom">
            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="progress-bar-wrapper">
            <div class="progress-bar-title">HTML/CSS</div>
            <div class="progress progress-bar-custom">
            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="progress-bar-wrapper">
            <div class="progress-bar-title">HTML/CSS</div>
            <div class="progress progress-bar-custom">
            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="progress-bar-wrapper">
            <div class="progress-bar-title">HTML/CSS</div>
            <div class="progress progress-bar-custom">
            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="progress-bar-wrapper">
            <div class="progress-bar-title">HTML/CSS</div>
            <div class="progress progress-bar-custom">
            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="progress-bar-wrapper">
            <div class="progress-bar-title">HTML/CSS</div>
            <div class="progress progress-bar-custom">
            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
